html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.splitscreen {
  display:flex;
  align-items: stretch; 
}
.splitscreen .left {
  flex: 1;
  min-height: 100vh;
}
.splitscreen .right {
  flex: 1;
} 